
<!DOCTYPE html>
<html>
<head>
  <title>Kiwi - smart desk pet</title>
  <link rel="shortcut icon" href="/static/favicon.ico"/>
  <link href='/static/assets/css/radiobtn.css' rel='stylesheet' type='text/css'>
  <link href='/static/assets/css/checkbox.css' rel='stylesheet' type='text/css'>
  <link href='/static/assets/css/style.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="content">
    <ul>
      <li class="dragend-page">
        <h1>Kiwi</h1>
        Hello! I'm Kiwi, your smart desk-pet :)
      </li>
      <li class="dragend-page">
        <h1>Freehand-Control</h1>
        <div id="movement_joystick_zone"></div>
      </li>
      <li class="dragend-page" id="emotion-board">
        <h1>Emotion-Board</h1>
        <ul>
      		<li>
      			<input type="radio" name="emotion">
      			<label>Happy</label>
      			<div class="bullet">
      				<div class="line zero"></div>
      				<div class="line one"></div>
      				<div class="line two"></div>
      				<div class="line three"></div>
      				<div class="line four"></div>
      				<div class="line five"></div>
      				<div class="line six"></div>
      				<div class="line seven"></div>
      			</div>
      		</li>
      		<li>
      			<input type="radio" name="emotion">
      			<label>Surprised</label>
      			<div class="bullet">
      				<div class="line zero"></div>
      				<div class="line one"></div>
      				<div class="line two"></div>
      				<div class="line three"></div>
      				<div class="line four"></div>
      				<div class="line five"></div>
      				<div class="line six"></div>
      				<div class="line seven"></div>
      			</div>
      		</li>
      		<li>
      			<input type="radio" name="emotion">
      			<label>Crazy</label>
      			<div class="bullet">
      				<div class="line zero"></div>
      				<div class="line one"></div>
      				<div class="line two"></div>
      				<div class="line three"></div>
      				<div class="line four"></div>
      				<div class="line five"></div>
      				<div class="line six"></div>
      				<div class="line seven"></div>
      			</div>
      		</li>
          <li>
      			<input type="radio" name="emotion">
      			<label>Angry</label>
      			<div class="bullet">
      				<div class="line zero"></div>
      				<div class="line one"></div>
      				<div class="line two"></div>
      				<div class="line three"></div>
      				<div class="line four"></div>
      				<div class="line five"></div>
      				<div class="line six"></div>
      				<div class="line seven"></div>
      			</div>
      		</li>
          <li>
            <input type="radio" name="emotion">
            <label>Sad</label>
            <div class="bullet">
              <div class="line zero"></div>
              <div class="line one"></div>
              <div class="line two"></div>
              <div class="line three"></div>
              <div class="line four"></div>
              <div class="line five"></div>
              <div class="line six"></div>
              <div class="line seven"></div>
            </div>
          </li>
          <li>
            <input type="radio" name="emotion">
            <label>Alarming</label>
            <div class="bullet">
              <div class="line zero"></div>
              <div class="line one"></div>
              <div class="line two"></div>
              <div class="line three"></div>
              <div class="line four"></div>
              <div class="line five"></div>
              <div class="line six"></div>
              <div class="line seven"></div>
            </div>
          </li>
          <li>
            <input type="radio" name="emotion">
            <label>Complaining</label>
            <div class="bullet">
              <div class="line zero"></div>
              <div class="line one"></div>
              <div class="line two"></div>
              <div class="line three"></div>
              <div class="line four"></div>
              <div class="line five"></div>
              <div class="line six"></div>
              <div class="line seven"></div>
            </div>
          </li>
      	</ul>
      </li>
      <li class="dragend-page">
        <h1>Independant-Mode</h1>
        <span class="switch">
        	<span class="switch-border1">
        		<span class="switch-border2">
        			<input id="independant_switch" type="checkbox" checked/>
        			<label for="independant_switch"></label>
        			<span class="switch-top"></span>
        			<span class="switch-shadow"></span>
        			<span class="switch-handle"></span>
        			<span class="switch-handle-left"></span>
        			<span class="switch-handle-right"></span>
        			<span class="switch-handle-top"></span>
        			<span class="switch-handle-bottom"></span>
        			<span class="switch-handle-base"></span>
        			<span class="switch-led switch-led-green">
        				<span class="switch-led-border">
        					<span class="switch-led-light">
        						<span class="switch-led-glow"></span>
        					</span>
        				</span>
        			</span>
        			<span class="switch-led switch-led-red">
        				<span class="switch-led-border">
        					<span class="switch-led-light">
        						<span class="switch-led-glow"></span>
        					</span>
        				</span>
        			</span>
        		</span>
        	</span>
        </span>
      </li>
      <li class="dragend-page">
        <h1>Settings<h1>
      </li>
    </ul>
  </div>

  <ul class="nav">
    <li data-page="1" class="active">Home</li>
    <li data-page="2">Freehand</li>
    <li data-page="3">Emotions</li>
    <li data-page="4">Independant</li>
    <li data-page="5">Settings</li>
  </ul>
  <div class="button prev deactivated"></div>
  <div class="button next"></div>

  <script type="text/javascript" src="/static/node_modules/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/static/node_modules/dragend/dist/dragend.js"></script>
  <script type="text/javascript" src="/static/node_modules/nipplejs/dist/nipplejs.min.js"></script>
  <script type="text/javascript" src="/static/assets/js/kiwi.js"></script>
</body>
</html>
